h1{
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.form{
    border-left: 25%;
    margin-left: 40%;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5%;
    cor

    
}

p{
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}